html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;

    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
    }
}

.btns {
    width: 700px;
    height: 40px;
    padding: 40px;
    margin: 0 auto;

    .btn {
        width: 100px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background-color: #333;
        color: #fff;
        border-radius: 3px;
        margin-right: 5px;
        cursor: pointer;
        display: inline-block;
        font-size: 12px;

        &:hover {
            background-color: #ff6a00;
        }
    }
}

.containor {
    position: relative;
    width: 100%;
    height: 600px;
    display: block;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    overflow: hidden;

    .scene {
        z-index:1;
        position: relative;
        width: 100%;
        height: 100%;
        display: block;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -moz-transition: 1s;
        -o-transition: 1s;
        -webkit-transition: 1s;
        transition: 1s;

        .ash {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 10px;
            height: 10px;
            margin-top: -5px;
            margin-left: -5px;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;

            .ash-inner {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
                -moz-transition: 1s;
                -o-transition: 1s;
                -webkit-transition: 1s;
                transition: 1s;

                .texture {
                    margin: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                    -webkit-transform-style: preserve-3d;
                    transform-style: preserve-3d;
                    background-color: #bbb;
                    border-radius: 50%;
                }
            }
        }

        .squ{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 60px;
            height: 60px;
            margin-top: -30px;
            margin-left: -30px;
            background-color:#ff6a00;
        }
    }

    .sensor{
        z-index:2;
        position: absolute;
        width: 33.3%;
        height: 33.3%;
        display: block;

        &.topLeft_{
            top:0;
            left:0;
        }

        &.topMid_{
            top:0;
            left:33.3%;
        }

        &.topRight_{
            top:0;
            left:66.6%;
        }

        &.midLeft_{
            top:33.3%;
            left:0;
        }

        &.midMid_{
            top:33.3%;
            left:33.3%;
        }

        &.midRight_{
            top:33.3%;
            left:66.6%;
        }

        &.btmLeft_{
            top:66.6%;
            left:0;
        }

        &.btmMid_{
            top:66.6%;
            left:33.3%;
        }

        &.btmRight_{
            top:66.6%;
            left:66.6%;
        }
    }
}
